<div class="info">
	<p>
		FEELING STAIRS
	</p>
</div>


<div ng-controller="webglController">
	<iframe ng-if="isWebgl" src="https://clara.io/embed/9b357f79-d637-47a8-8fa0-93efcd12e60c?renderer=webgl&timeline=false&autoplay=false&bgColor=0x000000&tools=false&header=false&logo=false" width="100%" height="100%" style="position:absolute; z-index: 0; border: 0;"></iframe>
	<p ng-show="!isWebgl" style="position: absolute; text-align: center; width: 100%; z-index: 900">
		WebGL content missing.<br>
		{{webglText}}
	</p>
</div>

<div ng-repeat="x in imagesAll | shuffle | slice:begin:end"> 			
	<div ng-repeat="photo in x.photos" sz-image>
		<img ng-src="{{ photo.original_size.url }}" width="100%">
	</div>
</div>