<div class="info">
	<p>
		Rachael Archibald<br>
		Blend 'til Dizzy
	</p>
</div>

<img src="content/archibald/blend_til_dizzy/1.gif" style="max-width:500px !important" sz-image sz-chance sz-chance chance="80">
<img src="content/archibald/blend_til_dizzy/3.gif" style="max-width:700px !important;" sz-image sz-chance sz-chance chance="80">

<img src="content/archibald/blend_til_dizzy/i.jpg" style="max-width:650px !important" sz-position sz-order sz-width sz-chance sz-mask-rect sz-chance chance="25">
<img src="content/archibald/blend_til_dizzy/5.jpg" style="max-width:810px !important" sz-position sz-order sz-width sz-chance sz-mask-rect sz-chance chance="25">
<img src="content/archibald/blend_til_dizzy/a.jpg" style="max-width:650px !important" sz-position sz-order sz-width sz-chance sz-mask-rect sz-chance chance="25">
<img src="content/archibald/blend_til_dizzy/a5.jpg" style="max-width:650px !important" sz-position sz-order sz-width sz-chance sz-mask-rect sz-chance chance="25">
<img src="content/archibald/blend_til_dizzy/forms2.png" style="height:100%" sz-s-position sz-chance chance="50">
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile">
	<source src="content/archibald/blend_til_dizzy/vid-1.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-1.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile">
	<source src="content/archibald/blend_til_dizzy/vid-2.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-2.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile"> 
	<source src="content/archibald/blend_til_dizzy/vid-3.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-3.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile">
	<source src="content/archibald/blend_til_dizzy/vid-4.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-4.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile">
	<source src="content/archibald/blend_til_dizzy/vid-5.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-5.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>
<video width="320" height="320" autoplay loop sz-position sz-order sz-width sz-chance chance="16" sz-opacity ng-if="!mobile">
	<source src="content/archibald/blend_til_dizzy/vid-6.webm" type="video/webm"/>
	<source src="content/archibald/blend_til_dizzy/vid-6.ogv" type="video/ogg"/>
	Your browser does not support the video tag.
</video>