<div class="info">
	<p>
		URL#0
	</p>
</div>
<style type="text/css" scope>
	.c-title {
		display: none;
	}
	.c-ip {
		display: none;
	}
	#fluid{
		display: table-cell;
		line-height: 180px;
	}
	.urlicon{
		font-size: 20px;
		margin-top: 10px;
		display: block;
		text-align: center;
	}

	.sub {
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		background-color: black;
		color: white;
		display: table;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-left: 50%;
		margin-top: 10px;
		padding: 5px 110px;
		text-transform: uppercase;
	}

	.collaborators {
		text-align: center;
		padding: 10px 100px;
		box-sizing: border-box;
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		border: 2px solid;
		width: 80%;
		max-width: 900px;
	}
	.holy {
		font-size: 25px;
		text-align: center;
		font-weight: 800;
	}
	.quick{
		margin-bottom: 30px;
		font-family: sans-serif;
		font-size: 16px;
	}
	.urlcontainer{
		font-size: 300px;
		font-weight: 900;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 2000 !important;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 30px;

	}
	.urlcontainer > i {
		font-size: 32px;
		display: block;
		text-align: center;
	}

	.date {
		font-size: 24px;
		text-align: center;
		font-weight: 700;
		line-height: 24px;
	}
	.address {
		font-size: 18px;
		font-weight: 100;
		text-align: center;
		line-height: 18px;
		margin-top: -3px;
		text-transform: uppercase;
	}
	.dateaddress {
		border: 1px black;
		border-style: dotted;
		display: table;
		padding: 10px 40px;
		margin-top: 10px;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	/*DISABLE UI*/

	.panels{
		display: none;
	}
	.mobpan {
		display: none;
	}
	.arrows-container {
		display: none;
	}
/*.control {
	display: none;
}*/
.tour{
	display: none;
}

@media (max-width: 900px) {
	#fluid{
		line-height: 65px;
	}
	.urlcontainer{
		font-size: 90px;
	}
	.holy{
		font-size: 18px;
	}
	.quick{
		margin-bottom: 5px;
		font-size: 14px;
	}
	.collaborators{
		margin-top: 10px;
		margin-left: 0;
		-webkit-transform: none;
		transform: none;
		text-align: left;
		width: 260px;
		font-size: 12px;
		text-align: center;
		border: 1px solid;
		padding: 5px;
	}
	.urlicon {
		margin-top: 10px;
	}
	.mobileurltitle{
		text-align: center;
		width: 260px;
		margin-left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.date {
		font-size: 16px;
		text-align: center;
		line-height: 16px;
	}
	.address {
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		font-weight: 100;
		margin-top: 0;
		line-height: 14px;
	}
	.urlcontainer > i {
		font-size: 16px;
		display: block;
		text-align: center;
	}
	.sub {
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 5px;
		background-color: black;
		color: white;
		display: table;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-left: 50%;
		margin-top: 10px;
		padding: 5px 0;
		width: 260px;
		text-transform: uppercase;
	}
	.dateaddress {
		border: 1px black;
		border-style: dotted;
		display: table;
		padding: 10px 0;
		width: 258px;
		margin-top: 10px;
		margin-left: 50%;
	}
}
</style>

<div sz-order class="urlcontainer">
	<i class="urlicon fa fa-link" style="margin-bottom: 10px; margin-top: 0;"></i>
	<div class="holy" style="font-family:monospace; text-decoration:overline;">بسم الله الرحمن الرحیم</div>
	<div class="holy quick">早い者勝ち</div>
	<div class="mobileurltitle" id="textsel">
		<div sz-mask-quarter id="fluid">U</div>
		<div sz-mask-quarter id="fluid">R</div>
		<div sz-mask-quarter id="fluid">L</div>
		<div sz-mask-quarter id="fluid">#</div>
		<div sz-mask-quarter id="fluid">0</div>
	</div>
	<div class="collaborators">
		Rachael Archibald / Mikey Joyce / Reese Riley / Pieter Jossa / Alarico Montoya / Dalena Tran / Huxley Anne / Hirad Sab / Eltons Kūns
	</div>
	<div class="sub">each instance like no other</div>
	<div class="dateaddress">
		<div class="date">10 AUG 2015</div>
		<div class="address">sooz.global</div>
	</div>
	<i class="urlicon fa fa-adjust"></i>	
</div>
<div ng-repeat="x in imagesAll | shuffle | slice:begin:end"> 			
	<div ng-repeat="photo in x.photos" class="c-img c-anim-25" sz-image>
		<img ng-src="{{ photo.original_size.url }}" width="100%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); ">
	</div>
</div>
